.checkbox{
  input{
    display: none;
    &:checked+label{
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
      span{
        background-color: $color-primary;
        border-color: $color-primary;
      }
      span:before{
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        content: '';
        background-color: #fff;
        left: 7px;
        top: 10px;
        transform: rotate(-45deg);
      }
      span:after{
        position: absolute;
        display: block;
        width: 10px;
        height: 2px;
        content: '';
        background-color: #fff;
        left: 1px;
        top: 12px;
        transform: rotate(44deg);
      }
    }
  }
  label{
    font-weight: 300;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    span{
      display: block;
      position: absolute;
      border:1px solid #d1d7db;
      border-radius: 4px;
      height: 24px;
      width: 24px;
      content: '';
      left: 0px;
      top: calc(50% - 12px);
      background-color: #fff;
    }
  }
}