@import "../global-variables";
.input-number-wrapper {
  text-align: center;

}
.input-number-less, .input-number-more{
  background-color: #fff;
  cursor: pointer;
}
input[type="text"]{
  background-color: #fff;
}
.requare-input{
  position: relative;
  &:after{
    display: block;
    content: "*";
    position: absolute;
    color: red;
    font-size: 20px;
    right: -15px;
    top: -6px;
  }
}
.input-number-box{
  position: relative;
  width: 118px;
  text-align: center;
  input[type=text]{
    width: 40px;
    border: 1px solid $color-blue;;
    height: 40px;
    text-align: center;
  }
}
.input-number-less {
  border: 1px solid $color-blue;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0px;
  top:0px;
  border-radius:7px 0px 0px 7px;
  &:after {
      display: block;
      content: "";
      width: 15px;
      height: 2px;
      background-color: #478bca;
      position: absolute;
      top: 18px;
      left: 12px;
  }
  &:hover{
    background-color: $color-blue;
      &:after {background-color: #fff;}
  }
}
.input-number-more{
  border: 1px solid $color-blue;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 1px;
  top:0px;
  border-radius: 0px 7px 7px 0px;
  &:before {
      display: block;
      content: "";
      width: 15px;
      height: 2px;
      background-color: #478bca;
      position: absolute;
      top: 18px;
      left: 11px;
  }
  &:after {
      display: block;
      content: "";
      width: 15px;
      height: 2px;
      background-color: #478bca;
      position: absolute;
      top: 18px;
      left: 11px;
      transform: rotate(90deg);
  }
  &:hover{
    &:after {background-color: #fff;}
    &:before {background-color: #fff;}
    background-color: $color-blue;
  }
}
.grey-input{
  border-radius: 5px;
  border: 2px solid #c7c7c7;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  &:focus{
    border-color: $color-blue;
    box-shadow: 0px 0px 3px 0px rgba(0,0,255,0.4);
    color: $color-blue;
  }
  &.red, &.error{
    border-color: #ee1b24;
    box-shadow: 0px 0px 3px 0px rgba(255,0,0,0.4);
  }
}
.inputfile + label {
    color: #000;
}

.inputfile+ label {
    padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {

}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.upload-input{
  span{
    color: #000;
    font-size: 1rem;
    font-weight: 100;
  }
}

.inputfile + label span {
    min-height: 2em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color: #000;
    display: block
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {

}

@media screen and (max-width: 50em) {
	.inputfile + label strong {
		display: block;
	}
}
.inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
